/*
    Tabla de Contenidos
    ============================================================================================
    1. Dispositivos con pantalla Grande
        1.1. Clases
    2. Dispositivos con pantalla Mediana
        2.1. Clases
    3. Dispositivos con pantalla Pequeña
        3.1. Etiquetas
        3.2. Clases
    4. Dispositivos con pantalla Muy Pequeña
        4.1. Clases


    1. Dispositivos con pantalla Grande
    ============================================================================================
*/
@media only screen and (max-width: 1200px) {
    /*
        1.1. Clases
        ========================================================================================
    */

    .container {
        max-width: 960px;
    }
}

/*
    2. Dispositivos con pantalla Mediana
    ============================================================================================
*/

@media only screen and (max-width: 992px) {
    /*
        2.1. Clases
        ========================================================================================
    */

    .container {
        max-width: 720px;
    }

    .col-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-6 {
        flex: 0 0 100%;
        margin-top: var(--valor-espaciado);
        max-width: 100%;
    }

    .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*
    3. Dispositivos con pantalla Pequeña
    ============================================================================================
*/

@media only screen and (max-width: 768px) {
    /*
        3.1. Etiquetas
        ========================================================================================
    */

    header .container {
        flex-wrap: wrap;
    }

    header nav {
        display: none;
        flex-basis: 100%;
        flex-grow: 1;
    }

    header nav ul {
        flex-direction: column;
        margin-left: 0;
    }

    header #menu {
        display: block;
    }

    footer p {
        text-align: center;
        margin-bottom: 1rem;
    }

    /*
        3.2. Clases
        ========================================================================================
    */

    .container {
        max-width: 540px;
    }

    .col-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-4,
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-4 + .col-4 {
        margin-top: var(--valor-espaciado);
    }

    .filtro ul {
        flex-direction: column;
    }

    .filtro ul li + li {
        margin-top: var(--valor-espaciado-mitad);
    }

    .social {
        text-align: center;
    }
}

/*
    4. Dispositivos con pantalla Muy Pequeña
    ============================================================================================
*/

@media only screen and (max-width: 576px) {
    /*
        4.1. Clases
        ========================================================================================
    */

    .container {
        max-width: 100%;
    }

    .col-2 {
        flex: 0 0 100%;
        margin-top: var(--valor-espaciado);
        max-width: 100%;
    }

    .formulario {
        width: 100%;
    }
}
