/*
    Tabla de Contenidos
    ============================================================================================
    1. Imports
    2. Variables
    3. General
    4. Etiquetas
        4.1. Cabecera
        4.2. Contenido Principal
        4.3. Pie de Página
    5. Clases
        5.1. Contenedores
        5.2. Filas
        5.3. Columnas
        5.4. Alineaciones de texto
        5.5. Márgenes
        5.6. Anchos
        5.7. Otros
    6. Elementos especiales


    1. Imports
    ============================================================================================
*/

@import url("https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic");

/*
    2. Variables
    ============================================================================================
*/

:root {
    /* Colores */
    --color-azul: #0062cc;
    --color-azul-claro: #007bff;
    --color-azul-oscuro: #004ba0;
    --color-blanco: #ffffff;
    --color-gris: #888888;
    --color-gris-claro: #ced4da;
    --color-gris-oscuro: #312e32;
    --color-gris-dos: #ffd9d9;
    --color-negro: #212529;
    --color-rojo: #d35c53;
    --color-rojo-claro: #f5dedb;
    --color-rojo-oscuro: #bb665e;
    --color-verde: #28a745;

    /* Valores Fijos */
    --valor-espaciado: 1rem;
    --valor-espaciado-cuarto: 0.25rem;
    --valor-espaciado-doble: 2rem;
    --valor-espaciado-mitad: 0.5rem;
    --valor-espaciado-negativo: -1rem;
    --valor-espaciado-trescuartos: 0.75rem;
}

/*
    3. General
    ============================================================================================
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
    4. Etiquetas
    ============================================================================================
*/

body {
    color: var(--color-negro);
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    text-align: left;
}

/*
    4.1. Cabecera
    ============================================================================================
*/

header {
    align-items: center;
    background-color: var(--color-gris-oscuro);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: var(--valor-espaciado-mitad) var(--valor-espaciado);
}

header .container {
    align-items: center;
    border-bottom: 1px solid var(--color-gris);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-top: 0.4rem;
}

header .brand {
    color: var(--color-gris-claro);
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: var(--valor-espaciado);
    padding-bottom: var(--valor-espaciado-mitad);
    padding-top: var(--valor-espaciado-mitad);
    text-decoration: none;
}

header .brand svg {
    color: var(--color-rojo);
    margin-right: var(--valor-espaciado-cuarto);
}

header nav {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    visibility: visible;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 0;
    padding-left: 0;
    visibility: visible;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: var(--color-gris);
    display: block;
    padding: var(--valor-espaciado-mitad);
    text-decoration: none;
}

header nav ul li a:hover {
    color: var(--color-gris-claro);
}

header nav ul li .active {
    color: var(--color-gris-claro) !important;
}

header #menu {
    background-color: transparent;
    border: none;
    color: var(--color-gris-claro);
    cursor: pointer;
    display: none;
    font-size: 1.125rem;
    line-height: 1;
    margin-left: auto;
    padding: var(--valor-espaciado-cuarto) var(--valor-espaciado-trescuartos);
}

/*
    4.2. Contenido principal
    ============================================================================================
*/

main {
    flex: 1;
}

button {
    background-color: var(--color-rojo);
    border: 1px solid var(--color-rojo-oscuro);
    border-radius: var(--valor-espaciado-cuarto);
    color: var(--color-blanco);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    margin-top: var(--valor-espaciado);
    padding: var(--valor-espaciado-mitad) var(--valor-espaciado);
    text-align: center;
    vertical-align: middle;
}

button:hover {
    background-color: var(--color-rojo-claro);
    border-color: var(--color-rojo-oscuro);
    color: var(--color-rojo-oscuro);
}

input,
select,
textarea {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-gris-claro);
    border-radius: 0.25rem;
    color: var(--color-gris-oscuro);
    display: block;
    font-family: inherit;
    padding: var(--valor-espaciado-mitad) var(--valor-espaciado-trescuartos);
    width: 100%;
}

textarea {
    resize: vertical;
}

h1 + p {
    margin-top: var(--valor-espaciado-doble);
}

p + p {
    margin-top: var(--valor-espaciado);
}

p a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

p a:hover {
    color: var(--color-rojo);
}

/*
    4.3. Pie de Página
    ============================================================================================
*/

footer {
    background-color: var(--color-gris-oscuro);
    color: var(--color-gris);
    padding-top: 3rem;
    padding-bottom: 4rem;
}

footer a {
    color: inherit;
    padding: var(--valor-espaciado-cuarto);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-blanco);
}

footer ul li {
    display: inline;
    list-style: none;
}

footer ul li + li {
    padding-left: var(--valor-espaciado);
}

/*
    5. Clases
    ============================================================================================


    5.1. Contenedores
    ============================================================================================
*/

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding-left: var(--valor-espaciado);
    padding-right: var(--valor-espaciado);
    width: 100%;
}

/*
    5.2. Filas
    ============================================================================================
*/

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: var(--valor-espaciado-negativo);
    margin-left: var(--valor-espaciado-negativo);
}

.row + .row {
    margin-top: var(--valor-espaciado-doble);
}

/*
    5.3. Columnas
    ============================================================================================
*/

.col-2 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

[class^="col-"] {
    padding-left: var(--valor-espaciado);
    padding-right: var(--valor-espaciado);
    width: 100%;
}

/*
    5.4. Alineaciones de texto
    ============================================================================================
*/

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/*
    5.5. Márgenes
    ============================================================================================
*/

.mt-2 {
    margin-top: var(--valor-espaciado-doble);
}

/*
    5.6. Anchos
    ============================================================================================
*/

.w-100 {
    width: 100%;
}

/*
    5.7. Otros
    ============================================================================================
*/

.blanco,
.gris,
.rojo {
    padding-bottom: 3rem;
    padding-top: 3rem;
    width: 100%;
}

.blanco {
    background-color: var(--color-blanco);
    color: var(--color-gris-oscuro);
}

.rojo {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
}

.gris {
    background-color: var(--color-gris-oscuro);
    color: var(--color-gris-claro);
}

.formulario {
    display: none;
    width: 480px;
}

.formulario h1 {
    font-size: 1.25rem;
    margin-bottom: var(--valor-espaciado-doble);
}

.formulario span {
    background-color: var(--color-rojo-claro);
    border: 1px solid var(--color-rojo);
    border-radius: var(--valor-espaciado-cuarto);
    color: var(--color-rojo-oscuro);
    display: none;
    margin-bottom: 1rem;
    padding: 1rem;
}

.formulario fieldset {
    border: none;
    display: block;
}

.formulario fieldset input + input {
    margin-top: 1rem;
}

.formulario p {
    text-align: center;
}

.formulario a {
    color: var(--color-azul-claro);
    text-decoration: none;
}

.generico {
    padding: var(--valor-espaciado);
}

.generico h2 {
    margin-bottom: var(--valor-espaciado);
}

.generico ul {
    list-style: none;
}

.generico ul li {
    margin-left: var(--valor-espaciado);
}

.generico fieldset {
    border: none;
}

.generico fieldset + fieldset {
    margin-top: var(--valor-espaciado);
}

.generico label {
    display: block;
}

.generico select {
    margin-bottom: var(--valor-espaciado);
}

.generico .detalle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.generico div span {
    color: var(--color-rojo-claro);
}

.generico .item + .item {
    margin-top: var(--valor-espaciado-mitad);
}

.tarjeta {
    margin-bottom: var(--valor-espaciado);
    width: 100%;
}

.tarjeta img {
    max-width: 100%;
}

.tarjeta a {
    background-color: var(--color-rojo);
    border: 1px solid var(--color-rojo-oscuro);
    border-radius: var(--valor-espaciado-cuarto);
    color: var(--color-blanco);
    cursor: pointer;
    padding: var(--valor-espaciado-mitad) var(--valor-espaciado);
    text-decoration: none;
}

.tarjeta a:hover {
    background-color: var(--color-rojo-claro);
    border-color: var(--color-rojo-oscuro);
    color: var(--color-rojo-oscuro);
}

.paginacion {
    margin-top: 4rem;
    padding: var(--valor-espaciado);
    text-align: center;
}

.paginacion ul {
    display: block;
    list-style: none;
}

.paginacion ul li {
    color: var(--color-gris-oscuro);
    display: inline;
}

.paginacion ul li:hover {
    color: var(--color-gris);
}

.paginacion ul li a {
    background-color: var(--color-gris-claro);
    border-radius: var(--valor-espaciado-cuarto);
    color: inherit;
    padding: var(--valor-espaciado-trescuartos) var(--valor-espaciado);
    text-decoration: none;
}

.paginacion ul li .active {
    background-color: var(--color-rojo);
    border: 1px solid var(--color-rojo-oscuro);
    color: var(--color-blanco);
}

.filtro {
    margin-bottom: 3rem;
}

.filtro h4 {
    margin-bottom: 1rem;
}

.filtro ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.filtro ul li {
    border: 1px solid var(--color-verde);
    border-radius: var(--valor-espaciado-mitad);
    color: var(--color-gris-oscuro);
    cursor: pointer;
    font-size: 0.8rem;
    padding: var(--valor-espaciado-mitad) var(--valor-espaciado);
}

.filtro ul li:hover {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}

.filtro ul .selected {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}

.card {
    background-color: var(--color-blanco);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: var(--valor-espaciado-cuarto);
    display: flex;
    flex-direction: column;
}

.card-cuerpo {
    flex: 1 1 auto;
    padding: var(--valor-espaciado);
}

.card + .card {
    margin-top: var(--valor-espaciado);
}

/*
    6. Elementos especiales
    ============================================================================================
*/

#volver {
    bottom: 0;
    color: var(--color-rojo);
    cursor: pointer;
    display: none;
    float: right;
    font-size: 3rem;
    margin-right: var(--valor-espaciado-doble);
    margin-bottom: var(--valor-espaciado-doble);
    position: fixed;
    right: 0;
}

#login,
#logout {
    color: var(--color-rojo);
}

#login:hover,
#logout:hover {
    background-color: var(--color-rojo);
    border-radius: var(--valor-espaciado-cuarto);
    color: var(--color-gris-oscuro);
}

#reserva {
    display: none;
}

#codigoqr {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
